@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  border: border-box;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f8f9fa;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #bdbdbd;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #acacac;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #f8f9fa;
  font-family: "Poppins", sans-serif;
}

.header {
  background-color: white;
  height: 7rem;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 8px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo {
  height: 10rem;
}

.theme-button {
  height: 5rem;
}

.chat {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.chat-container {
  margin: 2rem;
  height: 60rem;
  width: 60%;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  border-radius: 2rem;
  position: relative;
}

.empty-chat {
  padding: 2rem 10rem;
  height: 50rem;
  /* background-color: #2ec4b6; */
  overflow: auto;
  overflow-x: hidden;
}

.user-div {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px,
    rgb(209, 213, 219) 0px 0px 0px 1px inset;
  border-radius: 0.5rem;
  width: fit-content;
  padding: 1rem 1rem;
  font-size: 1.5rem;
  margin-bottom: 2rem;
  margin-left: 1rem;
}

.bot-div {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px,
    rgb(209, 213, 219) 0px 0px 0px 1px inset;
  border-radius: 0.5rem;
  width: fit-content;
  padding: 1rem 1rem;
  font-size: 1.5rem;
  margin-bottom: 2rem;
  margin-left: 1rem;
}

.user-input {
  height: 5rem;
  width: 97%;
  display: flex;
  position: absolute;
  justify-content: center;
  bottom: 0;
  margin: 1rem;
  margin-bottom: 2rem;
  gap: 1rem;
}

.text-input {
  width: 65%;
  border-radius: 4rem;
  border: 1px solid rgb(180, 180, 180);
  font-size: 1.7rem;
  padding: 2rem;
}

.submit-btn {
  width: 15%;
  font-size: 1.8rem;
  border: none;
  background-color: #2ec4b6;
  border-radius: 4rem;
  transition: all 0.2s ease-in-out;
}

.submit-btn:hover {
  background-color: #079687;
}

.submit-btn:active {
  transform: scale(0.98);
}

.footer {
  height: 7rem;
  width: 100%;
  opacity: 0.7;
  font-size: 1.4rem;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
